/* this index.css file is for the global styling usecase ,  */
/* this file is not used particularly for styling of elements; 
only used for global style settings 
App.css is used to style elements   */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: beige;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  color: slategrey;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 0 auto;
}

.card {
  border: 1px solid #45322f;
  padding: 10px 15px;
  margin: 10px;
  background-color: #333;
  border-radius: 50px;
  min-height: 100px;
}
/* inline style is given priority more than css  */

button{
  border: none;
  font-size: 30px;
  background-color: transparent;
  width: 100%;
  text-align: right;
  cursor: pointer;
}